.Main-section{
    position: relative;
    top: 80px;
}
.main-category-maincate{
    display: flex;
    justify-content: center;
}
.sub-category-subcate{
    width: 1256px;
    min-width: 1256px;
    padding: 10px 60px;
    margin: 0 auto;
    .sub-category-categorytit{
        
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 14px;
    }
}
.product-article-total{
    width: 1256px;
    min-width: 1256px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px; 
    .productarticle-header{
        padding: 10px 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
        h1{
            color: #000;
            font-weight: 700;
            font-size: 20px;
        }
        a{
            margin-right: 7px;
            color: #f77;
            font-weight: 700;
            font-size: 15px;
        }
    }
}
.main-nav{
    width: 100vw;
}
.productarticle-section{
    width: 1256px;
    margin-top: 50px;
    margin: 0 auto;
    padding: 10px 60px;
    .article-tit{
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;   
        flex-wrap: wrap;
        gap: 22px 0;
        width: 100%;
    }
}

.sub-category-section{
    margin-top:  40px;
}