.signup-logo-div {
  margin-top: 60px;
  text-align: left;
  padding-left: 15px;
}

.signup-div {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.siginup-h1 {
  font-size: 20px;
}

.signup-p {
  margin-top: 15px;
  font-size: 12px;
  text-align: center;
  color: rgb(117, 117, 117);
}

.signup-icons {
  display: flex;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 210px;
  margin-left: auto;
  margin-right: auto;
}

.icon-endline-div {
  margin-top: 30px;
  border-bottom: 1px solid #d9d9d9;
}
